[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
