! vi:syntax=xdefaults

#define cjb_bg       #372b21
#define cjb_fg       #c0b18b
#define cjb_black    cjb_bg
#define cjb_grey     #483c32
#define cjb_red      #d17b49
#define cjb_green    #7b8748
#define cjb_yellow   #c8b55b
#define cjb_blue     #708185
#define cjb_magenta  #847080
#define cjb_cyan     #70986f
#define cjb_white    cjb_fg
#define cjb_font     Inconsolata
#define cjb_fontsize 7

#include </home/cjbarrac/.xres/rofi>
#include </home/cjbarrac/.xres/urxvt>
#include </home/cjbarrac/.xres/xft>

Xcursor.size: 16

