* {
    background-color: #222222 !important;
    color: #cccccc !important;
    border: none !important;
    background-image: none !important;
    box-shadow: none !important;
}

a {
    color: #7b8748 !important;
}

input[type="text"], .form-control, textarea, .btn * {
    background-color: #333333 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.scope-badge {
    background-color: #7b8748 !important;
}

.btn {
    background-color: #333333 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: solid 1px #cccccc !important;
}

.pull-info, .pull-info *, .branch-name {
    background-color: #333333 !important;
}

.timeline-new-comment .timeline-comment::after {
    display: none !important;
}

span.pl-c {
    color: #708185 !important;
}

span.pl-c1, span.pl-s {
    color: #d17b49 !important;
}

span.pl-v {
    color: #7b8748 !important;
}

span.pl-k {
    color: #c8b55b !important;
}

.blob-code-deletion, .blob-code-deletion *  {
    background-color: #c06a38 !important;
}
.text-diff-deleted {
    color: #c06a38 !important;
}
.blob-code-addition, .blob-code-addition *  {
    background-color: #596528 !important;
}

.text-diff-added {
    color: #596528 !important;
}

.sunken-menu::before, .sunken-menu::after {
    display: none !important;
}
.sunken-menu-separator::before{
    background-image: linear-gradient(to right, #cccccc 100%, #cccccc 100%);
}
