@-moz-document domain("kat.cr") {
  div.tagcloud, .showmore {
    display: none !important;
  }
  div.mainpart, tr.odd {
    background-color: #222 !important;
  }
  a {
    color: #c0b18b !important;
  }
  * {
    color: #999 !important;
    border-color: #c0b18b !important;
  }
  
}