* {
    background-color: #222222 !important;
    color: #cccccc !important;
    border: none !important;
}
a {
    color: #7b8748 !important;
}
div.side, .listing-chooser {
    display: none !important;
}
.tabmenu *, #header-bottom-right {
    margin : 0 !important;
    padding : 0 2px !important;
    font: x-small verdana,arial,helvetica,sans-serif !important
}
#header-img, #sr-header-area, .redditname {
    display: none !important;
}
.thing {
    margin-top: 15px !important;
}
.flair, .linkflairlabel {
    background-color: #333333 !important;
}
