* {
    background-color: #222222 !important;
    color: #cccccc !important;
    border-color: transparent !important;
}
.ytp-gradient-bottom {
    display: none !important;
}

#logo-container {
    display: none !important;
}
#masthead-search{
    max-width: 100% !important;
}
a {
    color: #7b8748 !important;
}
#masthead-search-term{
    background: #333333 !important;
}

.yt-masthead-logo-container {
    width: auto !important;
}

.ytp-hover-progress {
    background: #7b874b !important;
}

.html5-play-progress, .ytp-play-progress {

   background: #7B8748 !important; /* Old browsers */

}

.html5-load-progress, .ytp-load-progress {

   background: #cccccc !important;

}

/* actual scrubber button */

.html5-scrubber-button, .ytp-scrubber-button {
   background: #7B8748 !important;
   border-color: #333333 !important;

}

/* scrubber button on hover */

.html5-scrubber-button:hover, .ytp-scrubber-button:hover {
   background: #7B8748 !important;
   border-color: #333333 !important;
}

/* volume control */

.ytp-volume-slider-foreground:before {

   background: #7B8748 !important; /* Old browsers */
}
