!!! COLORS !!!
urxvt*depth:			32
urxvt*colorBD:			#708175
urxvt*borderColor:		#1f1f1f

! special
*.foreground:			#c0b18b
*.background:			#1f1f1f
*.cursorColor:			#c0b18b

! black
*.color0:       #392925
*.color8:       #544b2e

! red
*.color1:       #af602f
*.color9:       #af602f

! green
*.color2:       #908f32
*.color10:      #908f32

! yellow
*.color3:	#c8b55b
*.color11:      #c8b55b

! blue
*.color4:       #708175
*.color12:      #708175

! magenta
*.color5:	#847080
*.color13:      #847080

! cyan
*.color6:       #70986a
*.color14:      #70986a

! white
*.color7:       #c0b18b
*.color15:      #c0b18b


!!! FONTS !!!
Xft.dpi:			136
Xft.antialias:			true
Xft.rgba:			rgb
Xft.autohint:			false
Xft.hinting:			true
Xft.hintstyle:			hintfull
urxvt*font:                 	xft:Source Code Pro:regular:size=5.5
urxvt*imFont:               	xft:Source Code Pro:regular:size=5.5
urxvt*boldFont:             	xft:Source Code Pro:semibold:size=5.5
urxvt*italicFont:           	xft:Source Code Pro:italic:size=5.5
urxvt*boldItalicFont:       	xft:Source Code Pro:semibold:italic:size=5.5
urxvt*letterSpace:		0

!!! OPTIONS !!!
Xcursor.size:			6
urxvt*scrollBar:		false
urxvt*transparent:		false
urxvt*url-select.launcher:	chromium
urxvt*url-select.underline:	true
urxvt*cursorBlink:		false

!!! ROFI !!!
rofi.highlightbg: #c0b18b
rofi.highlightfg: #1f1f1f
rofi.bordercolor: #1f1f1f
rofi.font: Source Code Pro 7
rofi.padding: 3
rofi.borderwidth: 0
