@-moz-document domain("reddit.com"){
    * {
        background-color: #372b21 !important;
        color: #c0b18b !important;
        border: none !important;
    }

    div.side, .listing-chooser {
        display: none !important;
    }
    .tabmenu *, #header-bottom-right {
        margin : 0 !important;
        padding : 0 2px !important;
        font: x-small verdana,arial,helvetica,sans-serif !important
    }
    #header-img, #sr-header-area, .redditname {
        display: none !important;
    }
    .thing {
        margin-top: 15px !important;
    }
    .flair, .linkflairlabel {
        background-color: #483c32 !important;
    }
}
