@-moz-document domain("youtube.com"){
* {
    background-color: #372b21 !important;
    color: #c0b18b !important;
    border-color: transparent !important;
}
    #logo-container {
        display: none !important;
    }
    #masthead-search{
        max-width: 100% !important;
    }
    
    #masthead-search-term{
        background: #483c32 !important;
    }
    
    .yt-masthead-logo-container {
        width: auto !important;
    }
}