#!/usr/bin/zsh

# Error fixing
alias vi='vim'
alias vmi='vim'
alias sl='ls'

# Overwrites
alias alsamixer="alsamixer -g"
alias cp='cp -rv'
alias beet='beet -v -d /home/cjbarrac/Audio/Music/'
alias grep='grep --color=auto'
alias nyaa='nyaa --sort=leech --output-path=/home/cjbarrac/Downloads/nyaa HorribleSubs 720'
alias pacaur='pacaur --color always --noedit'
alias rename='rename -v'
alias rm='rm -v'
alias stow='stow --verbose=2'

# Alias functions
alias bigfiles='find . -size +250M -exec ls --size -h {} \+ | sort -rh'
alias bro='apropos'
alias cpu_usage="top -d 0.5 -b -n 2 | grep Cpu | tail -n 1 | cut -c 1-24 | awk '{print \$3}'"
alias fdu="du -ahd 1 | sort -hr"
alias l='ls --human-readable --group-directories-first --size --color $@'
alias marvin='sshfs -o IdentityFile=/home/cjbarrac/.ssh/id_rsa -p 4242 download@192.168.0.11:/home/ /home/cjbarrac/Web/sshfs/marvin'
alias powersave='sudo powerdown;sudo powertop --auto-tune'
alias saltybet='mpv http://www.twitch.tv/saltybet'
alias school='gcalcli --calendar="School" quick'
alias silverfish='sshfs silverfish:/home/cjbarrac ~/Web/sshfs/silverfish'
alias sim='sudo -E vim'
alias sshfsuw='sshfs cjbarrac@uw:/u2/cjbarraco/ ~/Web/sshfs/uw'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias vless='vim -u /usr/share/vim/vim74/macros/less.vim'
alias xres='xrdb -merge ~/.Xresources'

# systemctl functions
alias sdisable=' sudo systemctl disable $@'
alias senable='sudo systemctl enable $@'
alias srestart='sudo systemctl restart $@'
alias sstart='sudo systemctl start $@'
alias sstatus='sudo systemctl status $@'

# My functions
branch446() {
    git clone git@github.com:CarloBarraco/cs446project.git -b $1 $1
}
dlwebsite() {
	wget --random-wait -r -p -e robots=off -U mozilla $1
}
dlpdf() {
    wget -r -l 1 -nd -nH -A pdf $1
}
killorphans() {
	if [[ ! -n $(pacaur -Qdt) ]]; then
		echo "No more orphans to kill"
	else
		pacaur -Rns $(pacaur -Qdtq)
	fi
}
replaceall() {
    grep -rl "$1" . | xargs sed -i "s/$1/$2/g"
}
updatehosts() {
    cd /tmp
    wget http://winhelp2002.mvps.org/hosts.txt
    sudo rm /etc/hosts
    sudo mv hosts.txt /etc/hosts
}
