#!/usr/bin/zsh

# Error fixing
alias vi='vim'
alias vmi='vim'
alias sl='ls'

# Overwrites
alias alsamixer="alsamixer -g"
alias cp='cp -rv'
alias beet='beet -d /home/cjbarrac/Audio/Music/'
alias grep='grep --color=auto'
alias nyaa='nyaa --sort=leech --output-path=/home/cjbarrac/Downloads/nyaa HorribleSubs 720'
alias pacaur='pacaur --color always --noedit'
alias rename='rename -v'
alias rm='rm -v'
alias stow='stow --verbose=2'
alias unclutter='unclutter -reset'

# Alias functions
alias bigfiles='find . -size +250M -exec ls --size -h {} \+ | sort -rh'
alias cpu_usage="top -d 0.5 -b -n 2 | grep Cpu | tail -n 1 | cut -c 1-24 | awk '{print \$3}'"
alias fdu="du -ahd 1 | sort -hr"
alias l='echo "`pwd`" && ls --human-readable --group-directories-first --size --color $@'
alias marvin='sshfs -o IdentityFile=/home/cjbarrac/.ssh/id_rsa -p 4242 download@192.168.0.11:/home/ /home/cjbarrac/Web/Marvin'
alias powersave='sudo powerdown;sudo powertop --auto-tune'
alias saltybet='mpv http://www.twitch.tv/saltybet'
alias school='gcalcli --calendar="School" quick'
alias sim='sudo vim'
alias sshfsuw='sshfs cjbarrac@uw-linux-environment:/u2/cjbarraco/ ~/Web/sshfsuw'
alias update='pacaur -Syyu --devel'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias xres='xrdb -merge ~/.Xresources'

# systemctl functions
alias sdisable=' sudo systemctl disable $@'
alias senable='sudo systemctl enable $@'
alias srestart='sudo systemctl restart $@'
alias sstart='sudo systemctl start $@'
alias sstatus='sudo systemctl status $@'

# My functions
cs() {
	cd "$1" && l;
}
dlwebsite() {
	wget --random-wait -r -p -e robots=off -U mozilla $1
}
killorphans() {
	if [[ ! -n $(pacaur -Qdt) ]]; then
		echo "No more orphans to kill"
	else
		pacaur -Rns $(pacaur -Qdtq)
	fi
}
pdf4up() {
	pdfnup $1 --scale 0.9 --frame true --landscape --nup 2x2 --outfile '4up-$1'
}
pdf2up() {
	pdfnup $1 --scale 0.9 --frame true --no-landscape --nup 1x2 --outfile '2up-$1'
} 
